* {
margin: 0;
padding:0;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  position: relative;
}
a{
  text-decoration: none;
}
i {
  font-size: 2.5em;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}

h4 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}

p {
  font-weight: 300;
  font-size: 20px;
  text-align: left;
}

button {
  padding: 10px 30px;
  border: none;
  border-radius: 2px;
}

/*-------------------------START HEADER SECTION---------------------*/
/*Header*/
header {
  position: relative;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
header video {
  position: absolute;
  opacity: 0.7;
  top: 75%;
  left: 50%;
  width: auto;
  height: 115vh;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
header .container {
  position: relative;
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 1;
  z-index: 100;
}
#title-overlay-home{
  text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
  font-size: 2em;
  width: 50%;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}
.colContainer{
  padding:16px;
}
.iconafb {
  color: white;
}
.iconafb:hover{
  color: #009FE3;
}
.iconaig {
  color: white;
}
.iconaig:hover{
  color: #E6006D;
}
#space-between-socialicon {
  height: 2rem;
}

/*Navbar*/
.togglericonca{
  color:#009FE3;
  font-size:30px;
  text-shadow: none;
}
.backgroundColorNav {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
#logoivan{
    width: 150px;
}
#call-to-action {
  background-color:rgba(36, 173, 59, 0.7);
  color: white;
}
#call-to-action:hover {
  background-color: rgba(36, 173, 59, 1);
}

/*SUBTITLE*/

.weddings-title {
  color:#8d744d;
}
.aziendale-title{
  color: #fbddc0;
}
.weddings-description{
}
.marketing-title {
  color:#fee7f6;
}

.marketing-container{
  z-index: 100;
}

/*-------------------------START MY WORKS SECTION---------------------*/
/*Background video*/
.bg-black{
  height: 100px;
  color: white;
}
.bg-white{
  height: 100px;
  background-color: white;
  color: black;
}
.bg-palette-009FE3{
  background: rgb(51,105,172);
  background: radial-gradient(circle, rgba(51,105,172,1) 0%, rgba(48,99,162,1) 70%, rgba(45,92,150,1) 100%);
  color: white;
  text-align: center;
  padding: 2.5rem;
}
.bg-palette-E6006D{
  background: rgb(150,33,54);
  background: radial-gradient(circle, rgba(150,33,54,1) 0%, rgba(140,31,51,1) 75%, rgba(128,28,46,1) 100%);
  color: white;
  text-align: center;
  padding: 2.5rem;
}
.bg-palette-FEFEFE{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(253,250,242,1) 75%, rgba(254,248,230,1) 100%);
  color: black;
  text-align: center;
  padding: 2.5rem;
}
.bg-video{
  background-color: black;
}
.videoMyWorks:hover{
  cursor: pointer;
  padding: 0px;
  }


/*PLAYER VIDEO MY WORKS SECTION*/
/*Background player video*/

.containerout:hover > .bg-audio-009FE3 {
  background: rgb(45, 92, 150);
  background: linear-gradient(270deg, rgb(45, 92, 150, 1) 0%, rgba(45, 92, 150,0.8435749299719888) 33%, rgba(45, 92, 150, 0.19931722689075626) 77%);
}

.containerout:hover > .bg-audio-E6006D{
  background: rgb(128, 28, 46);
  background: linear-gradient(270deg, rgb(128, 28, 46, 1) 0%, rgba(128,28,46,0.8435749299719888) 33%, rgba(128,28,46,0.19931722689075626) 77%);
}

.containerout:hover >  .bg-audio-FFFFFF{
background: rgba(254,248,230,1);
background: linear-gradient(90deg, rgba(254,248,230,1) 0%, rgba(254,248,230,1) 33%, rgba(254,248,230,0.19931722689075626) 77%);
}
/*Overlay player video*/
.containerout{
  position: relative;
}
.containerin{
  position: absolute;
  width: 100%;
  height: 2.5rem;
  bottom:0;
  right:0;
  z-index: 2;
  padding: 0px;
  opacity: 1;
}
/*Icone player video*/
.fa-volume-up , .fa-volume-mute{
  color: white;
  font-size: 1.6em;
}
.fa-play, .fa-pause {
  font-size: 1.5em;
  color: white;
}
.iconePlayerVideo:hover{
  cursor: pointer;
}
/*Video MyWorks Section*/
.heightVideoContainer{
  height: 100%;
  overflow: hidden;
}
/*Margin-top & padding hero section overlay*/
.rowOverlay{
  margin-top: 300px;
  padding: 16px;
}

/*-------------------------START FOOTER SECTION---------------------*/
.linkfooter{
  color: #009FE3;
}
.bg-footer{
  height: 500px;
  background-image: linear-gradient(to top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
}

/********** Medium devices only **********/
@media (min-width: 1500px) {
  header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 40rem;
    width: 100vw;
    overflow:hidden;
  }
header video {
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 50%;
  width: auto;
  height: 230vh;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
}
@media (min-width: 767px) and (max-width: 991px) {
  #container-call{
    text-align: center;
  }
  body{
    font-size: 16.5px;
  }
  header {
    position: relative;
    background-color: black;
    height: 100vh;
    max-height: 900px;
    min-height: 40rem;
    width: 100%;
    overflow:hidden;
  }
  header video {
    position: absolute;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    width: auto;
    height: 170vh;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .fa-volume-up , .fa-volume-mute{
    font-size: 1.6em;
  }
  .fa-play, .fa-pause {
    font-size: 1.3em;
  }
}
/********** Mobile only **********/
@media (max-width: 767px){
  header video {
    min-width: 350%;
  }
  #container-call{
    text-align: center;
  }
  header {
    position: relative;
    background-color: black;
    height: 100vh;
    max-height: 900px;
    min-height: 40rem;
    width: 100%;
    overflow:hidden;
  }
  header video {
    position: absolute;
    opacity: 0.7;
    top: 38%;
    left: 50%;
    width: auto;
    height: 150vh;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .fa-volume-up , .fa-volume-mute{
    font-size: 1.5em;
  }
  .fa-play, .fa-pause {
    font-size: 1.2em;
  }
}