* {
margin: 0;
padding:0;
}

body {
  margin: 0;
  font-family: questrial;
  font-size: 17px;
  position: relative;
  font-family: questrial;
  height: 3000px;
}
a{
  text-decoration: none;
}
.linkfooter{
  color: #009FE3;
}

.iconafb {
  color: white;
}

.iconafb:hover{
  color: #009FE3;
}

.iconaig {
  color: white;
}
.iconaig:hover{
  color: #E6006D;
}

.bg-black{
  height: 100px;
  background-color: black;
  color: white;
}

.bg-white{
  height: 100px;
  background-color: white;
  color: black;
}

.bg-palette-009FE3{
  background-color: #009FE3;
  color: white;
  text-align: center;
  padding: 2.5rem;
}

.bg-palette-E6006D{
  background-color: #E6006D;
  color: white;
  text-align: center;
  padding: 2.5rem;
}

.bg-palette-FEFEFE{
  background-color: #FEFEFE;
  color: black;
  text-align: center;
  padding: 2.5rem;
}

.bg-video{
  background-color: black;
}
.bg-footer{
  background-image: linear-gradient(to top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
  height: 350px;
  padding-top: 130px;
}

.togglericonca{
  color:#009FE3;
  font-size:30px;
  text-shadow: none;
}

.backgroundColorNav {
  background-color: black;
}

#logoivan{
    width: 150px;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 48rem;
  width: 100%;
  overflow:hidden;
}

header video {
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 50%;
  min-width: 250%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 1;
  z-index: 100;
}

i {
  font-size: 2.5em;
}
#space-between-socialicon {
  height: 2rem;
}

.contenitorecolonne{
  padding:16px;
}
.rowoverlay{
  margin-top: 300px;
  padding: 16px;
}



#titolo-overlay-home{
  text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
  font-size: 2em;
  width: 50%;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

#call-to-action {
  background-color:rgba(36, 173, 59, 0.7);
  color: white;
}
#call-to-action:hover {
  background-color: rgba(36, 173, 59, 1);
  
}


/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}


/********** Medium devices only **********/
@media (min-width: 767px) and (max-width: 991px) {
  #container-call{
    text-align: center;
  }
}
/********** Mobile only **********/
@media (max-width: 767px){
  header video {
    min-width: 350%;
  }

  #container-call{
    text-align: center;
  }
}